
assets/lotr-renewed/speech/special/smilebc/it_it.json
assets/lotr-renewed/speech/special/smilebc/pl_pl.json
assets/lotr-renewed/speech/special/smilebc/es_es.json
assets/lotr-renewed/speech/special/new_year/pl_pl.json
assets/lotr-renewed/speech/special/new_year/it_it.json
assets/lotr-renewed/speech/special/new_year/fr_fr.json
assets/lotr-renewed/speech/special/new_year/fr_ca.json
assets/lotr-renewed/speech/special/new_year/es_es.json
assets/lotr-renewed/speech/special/halloween/pl_pl.json
assets/lotr-renewed/speech/special/halloween/it_it.json
assets/lotr-renewed/speech/special/halloween/fr_fr.json
assets/lotr-renewed/speech/special/halloween/fr_ca.json
assets/lotr-renewed/speech/special/halloween/es_es.json
assets/lotr-renewed/speech/special/christmas/pl_pl.json
assets/lotr-renewed/speech/special/christmas/it_it.json
assets/lotr-renewed/speech/special/christmas/fr_fr.json
assets/lotr-renewed/speech/special/christmas/fr_ca.json
assets/lotr-renewed/speech/special/christmas/es_es.json
assets/lotr-renewed/speech/special/april_fool/pl_pl.json
assets/lotr-renewed/speech/special/april_fool/it_it.json
assets/lotr-renewed/speech/special/april_fool/fr_fr.json
assets/lotr-renewed/speech/special/april_fool/fr_ca.json
assets/lotr-renewed/speech/special/april_fool/es_es.json
assets/lotr-renewed/speech/rohan/warrior/pl_pl.json
assets/lotr-renewed/speech/rohan/warrior/it_it.json
assets/lotr-renewed/speech/rohan/warrior/fr_fr.json
assets/lotr-renewed/speech/rohan/warrior/fr_ca.json
assets/lotr-renewed/speech/rohan/warrior/es_es.json
assets/lotr-renewed/speech/mordor/orc/pl_pl.json
assets/lotr-renewed/speech/mordor/orc/it_it.json
assets/lotr-renewed/speech/mordor/orc/fr_fr.json
assets/lotr-renewed/speech/mordor/orc/fr_ca.json
assets/lotr-renewed/speech/mordor/orc/es_es.json
assets/lotr-renewed/speech/hobbits/hobbit/pl_pl.json
assets/lotr-renewed/speech/hobbits/hobbit/it_it.json
assets/lotr-renewed/speech/hobbits/hobbit/fr_fr.json
assets/lotr-renewed/speech/hobbits/hobbit/fr_ca.json
assets/lotr-renewed/speech/hobbits/hobbit/es_es.json
assets/lotr-renewed/speech/hobbits/hobbit/new_zh_cn.json
